@import "tailwindcss";

/* npx tailwindcss -i ./src/input.css -o ./src/output.css --watch */

@font-face {
    font-family: 'Poppins';
    src: url(/src/assets/fonts/Poppins-Regular.ttf) format('truetype');
}

html{
    scroll-behavior: smooth;
    scrollbar-color: rgb(255, 255, 255) rgb(8, 1, 48);
    scrollbar-width: 10px;
}
body{
    font-family: 'Poppins', sans-serif;
}

h3{
    @apply mt-0.5 text-lg font-medium text-gray-900 text-center;
}

.card-projects{
    @apply overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg;
}